<html>
    <head>

    </head>
    <title>Contact</title>
    <body>

        <h1>
            Welcome to the contact page.</h1>

        <form action="/data" method = "post">
            <input type="text" name="FirstName" placeholder = "FirstName" required="required" />
        <br><br><input type="text" name="LastName" placeholder = "LastName" required="required" />
        <br><br>  <input type="number" name="PhoneNumber" placeholder = "PhoneNumber" required="required" />
        <br><br>   <input type="email" name="Email" placeholder = "Email" required="required" />

        <br><br>   <button type="submit">Submit</button>
        </form>

    </body>
</html>