<html>
    <head>

    </head>
    <title>Diabetic</title>
    <body>

        <h1>
            Welcome to the diabetic prediction page.</h1>
            
        <form action="/diabetic_prediction" method = "post">
            <input type="number" name="preg" placeholder = "preg" required="required" />
            <br><br><input type="number" name="plas" placeholder = "plas" required="required" />
            <br><br> <input type="number" name="pres" placeholder = "pres" required="required" />
            <br><br> <input type="number" name="skin" placeholder = "skin" required="required" />
            <br><br> <input type="number" name="test" placeholder = "test" required="required" />
            <br><br> <input type="number" name="mass" placeholder = "mass" required="required" />
            <br><br> <input type="number" name="pedi" placeholder = "predi" required="required" />
            <br><br> <input type="number" name="age" placeholder = "age" required="required" />

        <br><br>   <button type="submit">Submit</button>
        </form>

    </body>
</html>